# ETL Pipeline Preparation

**1. Import libraries and load datasets.**

In [3]:
# Import libraries

import pandas as pd
from pandas import Series
import sqlite3
from sqlalchemy import create_engine

In [4]:
# Load messages dataset

messages = pd.read_csv('messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [5]:
messages.tail()

          id                                            message original genre
26243  30261  The training demonstrated how to enhance micro...      NaN  news
26244  30262  A suitable candidate has been selected and OCH...      NaN  news
26245  30263  Proshika, operating in Cox's Bazar municipalit...      NaN  news
26246  30264  Some 2,000 women protesting against the conduc...      NaN  news
26247  30265  A radical shift in thinking came about as a re...      NaN  news

In [6]:
# Shape of the messages dataset
messages.shape

(26248, 4)

In [7]:
messages.isnull().sum()

id              0
message         0
original    16064
genre           0
dtype: int64

In [8]:
# Some rows of the 'message' column of the messages dataset 

messages_col_m = messages['message']
messages_some_rows_m = messages_col_m.loc[0:5]
messages_some_rows_m

0    Weather update - a cold front from Cuba that c...
1              Is the Hurricane over or is it not over
2                      Looking for someone but no name
3    UN reports Leogane 80-90 destroyed. Only Hospi...
4    says: west side of Haiti, rest of the country ...
5               Information about the National Palace-
Name: message, dtype: object

In [9]:
#for i, j in enumerate(messages['original'].iloc[0:5]):
 #   print('{}. {}'.format(i, j))

In [10]:
# Some rows of the 'original' column of the messages dataset 

messages_col_o = messages['original']
messages_some_rows_o = messages_col_o.loc[0:1]
messages_some_rows_o

0    Un front froid se retrouve sur Cuba ce matin. ...
1                   Cyclone nan fini osinon li pa fini
Name: original, dtype: object

In [11]:
# Some rows of the 'genre' column of the messages dataset 

messages_col_g = messages['genre']
messages_some_rows_g = messages_col_g.loc[0:1]
messages_some_rows_g

0    direct
1    direct
Name: genre, dtype: object

In [12]:
# Load categories dataset

categories = pd.read_csv('categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [13]:
categories.shape

(26248, 2)

**2. Merge datasets.**

In [14]:
# Merge messages and categories datasets

df = messages.merge(categories, how='outer', on=['id'])
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [15]:
df.tail()

,id,message,original,genre,categories
26381,30261,The training demonstrated how to enhance micro...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26382,30262,A suitable candidate has been selected and OCH...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
26383,30263,"Proshika, operating in Cox's Bazar municipalit...",NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
26384,30264,"Some 2,000 women protesting against the conduc...",NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
26385,30265,A radical shift in thinking came about as a re...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...

In [16]:
df.shape

(26386, 5)

In [17]:
df.isnull().sum()

id                0
message           0
original      16140
genre             0
categories        0
dtype: int64

**3. Split categories into separate category columns.**

In [18]:
# Create a dataframe of the 36 individual category columns

categories = df['categories'].str.split(';', expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [19]:
categories.shape

(26386, 36)

In [20]:
# Select the first row of the categories dataframe

row = categories.loc[0]
row

0                    related-1
1                    request-0
2                      offer-0
3                aid_related-0
4               medical_help-0
5           medical_products-0
6          search_and_rescue-0
7                   security-0
8                   military-0
9                child_alone-0
10                     water-0
11                      food-0
12                   shelter-0
13                  clothing-0
14                     money-0
15            missing_people-0
16                  refugees-0
17                     death-0
18                 other_aid-0
19    infrastructure_related-0
20                 transport-0
21                 buildings-0
22               electricity-0
23                     tools-0
24                 hospitals-0
25                     shops-0
26               aid_centers-0
27      other_infrastructure-0
28           weather_related-0
29                    floods-0
30                     storm-0
31                      fire-0
32                earthquake-0
33                      cold-0
34             other_weather-0
35             direct_report-0
Name: 0, dtype: object

In [21]:
# Use this row to extract a list of new column names for categories.

category_colnames = row.replace('-.+', '', regex=True)
category_colnames

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [22]:
#categories.rename(columns={0: 'related', 1: 'request', 2: 'offer', 3: 'aid_related', 4: 'medical_help', 5: 'medical_products', 
 #                         6: 'search_and_rescue', 7: 'security', 8: 'military', 9: 'child_alone', 10: 'water', 11:'food', 
  #                        12: 'shelter', 13: 'clothing', 14: 'money', 15: 'missing_people', 16: 'refugees', 17: 'death', 
   #                        18: 'other_aid', 19: 'infrastructure_related', 20: 'transport', 21: 'buildings', 22: 'electricity', 
    #                       23: 'tools', 24: 'hospitals', 25: 'shops', 26: 'aid_centers', 27: 'other_infrastructure', 
     #                      28: 'weather_related', 29: 'floods', 30: 'storm', 31: 'fire', 32: 'earthquake', 33: 'cold', 34: 'other_weather', 
      #                     35: 'direct_report'}, inplace=True)

In [23]:
# Rename the columns of 'categories'

categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [24]:
categories.tail()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
26381,related-0,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
26382,related-0,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
26383,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
26384,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-1,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
26385,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

**4. Convert category values to just numbers 0 or 1.**

In [25]:
for column in categories:
    
    categories[column] = categories[column].str.split('-').str.get(1)
    categories[column] = pd.to_numeric(categories[column])
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

**5. Replace categories column in df with new category columns.**

In [26]:
# drop the original categories column from 'df'

df.drop(['original'], axis=1, inplace=True)
df.head()

,id,message,genre,categories
0,2,Weather update - a cold front from Cuba that c...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",direct,related-1;request-0;offer-0;aid_related-0;medi...

In [27]:
# concatenate the original dataframe with the new 'categories' dataframe

df = pd.concat([df, categories], axis=1)
df.head()

,id,message,genre,categories,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,direct,related-1;request-0;offer-0;aid_related-0;medi...,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,direct,related-1;request-0;offer-0;aid_related-1;medi...,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,direct,related-1;request-0;offer-0;aid_related-0;medi...,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",direct,related-1;request-0;offer-0;aid_related-0;medi...,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
# check number of duplicates

duplicate_df = df[df.duplicated()]
duplicate_df

,id,message,genre,categories,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
164,202,?? port au prince ?? and food. they need gover...,direct,related-1;request-1;offer-0;aid_related-1;medi...,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
165,202,?? port au prince ?? and food. they need gover...,direct,related-1;request-1;offer-0;aid_related-1;medi...,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
658,804,elle est vraiment malade et a besoin d'aide. u...,direct,related-2;request-0;offer-0;aid_related-0;medi...,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
659,804,elle est vraiment malade et a besoin d'aide. u...,direct,related-2;request-0;offer-0;aid_related-0;medi...,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
660,804,elle est vraiment malade et a besoin d'aide. u...,direct,related-2;request-0;offer-0;aid_related-0;medi...,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25291,29022,"In a field in Jallouzai, just inside Pakistan,...",news,related-1;request-1;offer-0;aid_related-1;medi...,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
25292,29022,"In a field in Jallouzai, just inside Pakistan,...",news,related-1;request-0;offer-0;aid_related-1;medi...,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
25378,29119,Most victims (90 per cent) show little or no s...,news,related-1;request-0;offer-0;aid_related-1;medi...,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
25379,29119,Most victims (90 per cent) show little or no s...,news,related-1;request-0;offer-0;aid_related-1;medi...,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
25380,29119,Most victims (90 per cent) show little or no s...,news,related-1;request-0;offer-0;aid_related-1;medi...,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
# drop duplicates

df = df.drop_duplicates()
df

,id,message,genre,categories,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,direct,related-1;request-0;offer-0;aid_related-0;medi...,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,direct,related-1;request-0;offer-0;aid_related-1;medi...,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,direct,related-1;request-0;offer-0;aid_related-0;medi...,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",direct,related-1;request-0;offer-0;aid_related-0;medi...,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26381,30261,The training demonstrated how to enhance micro...,news,related-0;request-0;offer-0;aid_related-0;medi...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26382,30262,A suitable candidate has been selected and OCH...,news,related-0;request-0;offer-0;aid_related-0;medi...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26383,30263,"Proshika, operating in Cox's Bazar municipalit...",news,related-1;request-0;offer-0;aid_related-0;medi...,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26384,30264,"Some 2,000 women protesting against the conduc...",news,related-1;request-0;offer-0;aid_related-1;medi...,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26385,30265,A radical shift in thinking came about as a re...,news,related-1;request-0;offer-0;aid_related-0;medi...,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
# check number of duplicates again

duplicate_df = df[df.duplicated()]
duplicate_df

Empty DataFrame
Columns: [id, message, genre, categories, related, request, offer, aid_related, medical_help, medical_products, search_and_rescue, security, military, child_alone, water, food, shelter, clothing, money, missing_people, refugees, death, other_aid, infrastructure_related, transport, buildings, electricity, tools, hospitals, shops, aid_centers, other_infrastructure, weather_related, floods, storm, fire, earthquake, cold, other_weather, direct_report]
Index: []

[0 rows x 40 columns]

**7. Save the clean dataset into an sqlite database.**

In [32]:
engine = create_engine('sqlite:///disasterMessage.db')
 df.to_sql('myMessage', engine, index=False)

**8. Use this notebook to complete etl_pipeline.py**

In [3]:
# Import libraries

import sys
import pandas as pd
from pandas import Series
import sqlite3
from sqlalchemy import create_engine

# Dataset and database files
msg = '/Users/izzit/Desktop/project2/messages.csv'
cate = '/Users/izzit/Desktop/project2/categories.csv'
disas = 'sqlite:////Users/izzit/Desktop/disas.db'

class ETLPipline:
    '''
    This class is the ETL pipeline class. It takes the messages and categories datasets, tydies them up, merges them and loads 
    them into a SQLite file.
    
    INPUT:
    1. messages_filepath: A file path leading to the location of the messages dataset in csv format.
    2. categories_filepath: A file path leading to the location of the categories dataset in csv format.
    3. database_filepath: A database file path with a database file name of choice. This database would be created as a SQLite 
    file when the program is run, and saved in the directory the path is pointing to.
    
    OUTPUT:
    SQLite (.db) file: database_filename created with the merged dataset inserted in it as a table and saved in the directory 
    where the given path points to.
    '''
    
    def __init__(self, messages_filepath, categories_filepath, database_filepath):
        
        # Instantiate the arguments
        self.messages_filepath = messages_filepath
        self.categories_filepath = categories_filepath
        self.database_filepath = database_filepath
              

    def load_data(self):
        '''
        This method loads the messages and categories datasets by imbibing the messages_filepath and categories_filepath from 
        the class. It also merges both of them
        
        INPUT:
        1. The messages_filepath of the class.
        2. The categories_filepath of the class.
        
        OUTPUT:
        Dataframe: A dataset of the merged two datasets in a dataframe format.
        '''
        messages = pd.read_csv(self.messages_filepath) # Load the messages dataset
        
        categories = pd.read_csv(self.categories_filepath) # Load the categories dataset
        
        d_f = messages.merge(categories, how='outer', on=['id']) # Merge the original datasets
        return d_f
          
    
    def clean_data(self, df):
        '''
        This method cleans the two datasets. It sets each category as a column and creates numerical variables for them. It
        then concatenates the two datasets and saves it as a SQLite database file.
        
        INPUT:
        1. df: A dataframe of the original datasets simply merged together, using id as the common key. This is the output of
        the load_data() method.
        
        OUTPUT:
        DAtaframe: A dataset of the cleaned, concatenated datasets.
        '''
        
        categories = df['categories'].str.split(';', expand=True) # Split the categories
        
        row = categories.loc[0] # Select the first row of the categories dataframe
        
        category_colnames = row.replace('-.+', '', regex=True) # Extract a list of new column names for categories.
        
        categories.columns = category_colnames # Rename the columns of 'categories'
        
        # Convert category values to just numbers 0 or 1
        for column in categories:
            categories[column] = categories[column].str.split('-').str.get(1)
            categories[column] = pd.to_numeric(categories[column])
            categories.head()
        
        df.drop(['original'], axis=1, inplace=True) # Drop the 'original' column
        
        df = pd.concat([df, categories], axis=1) # Concatenate the new categories dataframe with the merged dataset
        
        duplicate_df = df[df.duplicated()] # Check for duplicates
        
        df = df.drop_duplicates() # Remove duplicates

        return df
    
    def save_data(self, dframe, table_name):
        '''
        This method takes the cleaned dataset and saves it as a SQLite file to a location in the directory path provided by the 
        user. It already imbibes the database_filepath of the class. The user should also provide a table name of choice as the 
        second argument.
        
        INPUT:
        1. dframe: The cleaned, concatenated dataset. This is the output of the clean_data() method.
        2. table_name: str: Any suitable table name; must be wrapped in quotation signs, e.g. 'mytable'.
        
        OUTPUT:
        SQLite (.db) file: database_filename created with the merged dataset inserted in it as a table and saved in the 
        directory where the given path points to.
        '''
        engine = create_engine(self.database_filepath)
        return dframe.to_sql(table_name, engine, index=False)

In [4]:
etl = ETLPipline(msg, cate, disas) # Instance of the class
loaded = etl.load_data() # To visualize loaded datasets
loaded.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [5]:
cleaned = etl.clean_data(loaded) # To visualize cleaned datasets
cleaned.head()

,id,message,genre,categories,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,direct,related-1;request-0;offer-0;aid_related-0;medi...,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,direct,related-1;request-0;offer-0;aid_related-1;medi...,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,direct,related-1;request-0;offer-0;aid_related-0;medi...,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",direct,related-1;request-0;offer-0;aid_related-0;medi...,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
etl.save_data(cleaned, 'mytable') # To save the cleaned datasets as a SQLite file